package {{ package }}

data class {{ record.pascal_name }}(
{%- for field in record.fields %}
    val {{ field.name }}: {{ field.type_name }},
{%- endfor %}
) {
    companion object {
        fun decode(reader: SoraReader): {{ record.pascal_name }} =
            {{ record.pascal_name }}(
{%- for field in record.fields %}
                {{ field.name }} = {{ field.decode }},
{%- endfor %}
            )
    }
}
