{% for table in model.tables %}
import type { {{ table.row_type }} } from "./{{ table.snake_name }}{{ options.import_ext }}";
{% endfor %}
{% for enum in model.enums %}
import type { {{ enum.name }} } from "./{{ enum.snake_name }}{{ options.import_ext }}";
{% endfor %}

export interface SoraConfigTable {
    name(): string;
    mode(): string;
    key(): string | undefined;
    len(): number;
}

{%- for table in model.tables %}
export declare class {{ table.pascal_name }}Table implements SoraConfigTable {
    static decode(rows: {{ table.row_type }}[]): {{ table.pascal_name }}Table;
    name(): string;
    mode(): string;
    key(): string | undefined;
    len(): number;
{%- if table.mode == "map" and table.key_field_name %}
    get(key: {{ table.key_type }}): {{ table.row_type }} | undefined;
    rows(): ReadonlyMap<{{ table.key_type }}, {{ table.row_type }}>;
{%- elif table.mode == "singleton" %}
    row(): {{ table.row_type }};
{%- else %}
    rows(): readonly {{ table.row_type }}[];
{%- endif %}
{%- for index in table.unique_indexes %}
    get{{ index.pascal_name }}({{ index.param_camel_name }}: {{ index.param_type }}): {{ table.row_type }} | undefined;
{%- endfor %}
{%- for index in table.non_unique_indexes %}
    find{{ index.pascal_name }}({{ index.param_camel_name }}: {{ index.param_type }}): {{ table.row_type }}[];
{%- endfor %}
}

{%- endfor %}
export declare class SoraConfig {
    static fromBytes(bytes: Uint8Array | ArrayBuffer): SoraConfig;
    tables(): SoraConfigTable[];
{%- for table in model.tables %}
    {{ table.camel_name }}(): {{ table.pascal_name }}Table;
{%- endfor %}
}
