export const {{ enum.name }} = {
{%- for value in enum.values %}
{%- if options.enum_is_integer %}
    {{ value }}: {{ loop.index0 }},
{%- else %}
    {{ value }}: "{{ value }}",
{%- endif %}
{%- endfor %}
};

{%- if options.enum_is_integer %}
const values = new Set([
{%- for value in enum.values %}
    {{ loop.index0 }},
{%- endfor %}
]);
{%- else %}
const values = [
{%- for value in enum.values %}
    {{ enum.name }}.{{ value }},
{%- endfor %}
];
{%- endif %}

export function decode{{ enum.name }}(reader) {
    const ordinal = reader.readU32();
{%- if options.enum_is_integer %}
    if (!values.has(ordinal)) {
        throw new Error(`invalid enum ordinal ${ordinal} for {{ enum.name }}`);
    }
    return ordinal;
{%- else %}
    const value = values[ordinal];
    if (value === undefined) {
        throw new Error(`invalid enum ordinal ${ordinal} for {{ enum.name }}`);
    }
    return value;
{%- endif %}
}
