pub mod runtime;
{%- for module in model.modules %}
pub mod {{ module }};
{%- endfor %}

#[derive(Debug, Clone)]
pub struct SoraConfig {
{%- for table in model.tables %}
    pub {{ table.snake_name }}: Vec<{{ table.snake_name }}::{{ table.pascal_name }}>,
{%- endfor %}
}

impl SoraConfig {
    pub fn from_bytes(bytes: &[u8]) -> Result<Self, runtime::SoraReadError> {
        let bundle = runtime::SoraBundle::parse(bytes)?;
        Ok(Self {
{%- for table in model.tables %}
            {{ table.snake_name }}: bundle.decode_table::<{{ table.snake_name }}::{{ table.pascal_name }}>("{{ table.name }}")?,
{%- endfor %}
        })
    }
}
