import 'runtime.dart';

enum {{ enum.pascal_name }} {
{%- for value in enum.values %}
  {{ value.name }}{% if loop.last %};{% else %},{% endif %}
{%- endfor %}

  static {{ enum.pascal_name }} decode(SoraValue value) {
    switch (value.asString()) {
{%- for value in enum.values %}
      case '{{ value.raw_name }}':
        return {{ enum.pascal_name }}.{{ value.name }};
{%- endfor %}
      default:
        throw SoraReadException('invalid enum value `${value.asString()}` for {{ enum.pascal_name }}');
    }
  }
}
