package {{ package }};

public final class {{ record.pascal_name }} {
{%- for field in record.fields %}
    public final {{ field.type_name }} {{ field.name }};
{%- endfor %}

    public {{ record.pascal_name }}(
{%- for field in record.fields %}
        {{ field.type_name }} {{ field.name }}{% if not loop.last %},{% endif %}
{%- endfor %}
    ) {
{%- for field in record.fields %}
        this.{{ field.name }} = {{ field.name }};
{%- endfor %}
    }

    static {{ record.pascal_name }} decode(SoraReader reader) {
        return new {{ record.pascal_name }}(
{%- for field in record.fields %}
            {{ field.decode }}{% if not loop.last %},{% endif %}
{%- endfor %}
        );
    }

{%- if runtime_format != "sora" %}
    static {{ record.pascal_name }} decode(SoraValue value) {
        var obj = value.asObject();
        return new {{ record.pascal_name }}(
{%- for field in record.fields %}
            {{ field.value_decode | replace("__VALUE__", "obj.get(\"" ~ field.raw_name ~ "\")") }}{% if not loop.last %},{% endif %}
{%- endfor %}
        );
    }
{%- endif %}
}
