package {{ package }};

public interface {{ union.pascal_name }} {
{%- for variant in union.variants %}
    final class {{ variant.name }} implements {{ union.pascal_name }} {
{%- for field in variant.fields %}
        public final {{ field.type_name }} {{ field.name }};
{%- endfor %}

        public {{ variant.name }}(
{%- for field in variant.fields %}
            {{ field.type_name }} {{ field.name }}{% if not loop.last %},{% endif %}
{%- endfor %}
        ) {
{%- for field in variant.fields %}
            this.{{ field.name }} = {{ field.name }};
{%- endfor %}
        }
    }

{%- endfor %}
    static {{ union.pascal_name }} decode(SoraReader reader) {
        switch (reader.readU32()) {
{%- for variant in union.variants %}
            case {{ loop.index0 }}:
                return new {{ variant.name }}(
{%- for field in variant.fields %}
                    {{ field.decode }}{% if not loop.last %},{% endif %}
{%- endfor %}
                );
{%- endfor %}
            default:
                throw new SoraReadException("invalid union ordinal for {{ union.pascal_name }}");
        }
    }

{%- if runtime_format != "sora" %}
    static {{ union.pascal_name }} decode(SoraValue value) {
        var obj = value.asObject();
        switch (obj.get("{{ union.tag }}").asString()) {
{%- for variant in union.variants %}
            case "{{ variant.name }}":
                return new {{ variant.name }}(
{%- for field in variant.fields %}
                    {{ field.value_decode | replace("__VALUE__", "obj.get(\"" ~ field.raw_name ~ "\")") }}{% if not loop.last %},{% endif %}
{%- endfor %}
                );
{%- endfor %}
            default:
                throw new SoraReadException("invalid union tag for {{ union.pascal_name }}");
        }
    }
{%- endif %}
}
