#nullable enable

namespace {{ namespace }};

public enum {{ enum.name }}
{
{%- for value in enum.values %}
    {{ value }},
{%- endfor %}
}

internal static class {{ enum.name }}Codec
{
    internal static {{ enum.name }} Decode(SoraReader reader)
    {
        return reader.ReadUInt32() switch
        {
{%- for value in enum.values %}
            {{ loop.index0 }} => {{ enum.name }}.{{ value }},
{%- endfor %}
            var value => throw new SoraReadException($"invalid enum ordinal {value} for {{ enum.name }}"),
        };
    }

{%- if runtime_format != "sora" %}
    internal static {{ enum.name }} Decode(SoraValue value)
    {
        return value.AsString() switch
        {
{%- for value in enum.values %}
            "{{ value }}" => {{ enum.name }}.{{ value }},
{%- endfor %}
            var name => throw new SoraReadException($"invalid enum value `{name}` for {{ enum.name }}"),
        };
    }
{%- endif %}
}
