-module({{ record.snake_name }}).

-export([decode/1]).
-export_type([t/0]).

-type t() :: {{ "#{" }}
{%- for field in record.fields %}
    '{{ field.name }}' := {{ field.type_name }}{% if not loop.last %},{% endif %}
{%- endfor %}
}.

-spec decode(sora_runtime:reader()) -> {t(), sora_runtime:reader()}.
decode(Reader0) ->
{%- for field in record.fields %}
    { {{- field.var_name -}}, Reader{{ loop.index }}} = ({{ field.decode }})(Reader{{ loop.index0 }}),
{%- endfor %}
    {{ "{" }}{{ "#{" }}
{%- for field in record.fields %}
        '{{ field.name }}' => {{ field.var_name }}{% if not loop.last %},{% endif %}
{%- endfor %}
    }, {{ record.reader_var }}}.
